<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMessageMapper">
    <update id="updateToRead">
        UPDATE
            user_message
        SET
            status = 1
        ${ew.customSqlSegment}


    </update>


    <select id="selectMessages" resultType="com.example.vo.UserMessageVo">

        SELECT
            m.*,
            ( SELECT username FROM USER WHERE id = from_user_id ) AS fromUserName,
            ( SELECT title FROM POST WHERE id = post_id ) AS postTitle
        FROM
            `user_message` m
        ${ew.customSqlSegment}

    </select>
</mapper>
